:root {
  --Dark-cyan: hsl(158, 36%, 37%);
  --Cream: hsl(30, 38%, 92%);
  --Very-dark-blue: hsl(212, 21%, 14%);
  --Dark-grayish-blue: hsl(228, 12%, 48%);
  --White: hsl(0, 0%, 100%);
}

body {
  font-family: "Montserrat", sans-serif !important;
  background-color: var(--Cream) !important;
}
img {
  height: -webkit-fill-available;
}
.font-weight800 {
  font-weight: 800 !important;
}
h4 {
  font-family: "Fraunces", serif;
  font-size: 2rem !important;
}
p {
  font-family: "Montserrat", sans-serif !important;
}
.text {
  width: 17rem;
}
.price {
  font-family: "Fraunces", serif !important ;
  color: var(--Dark-cyan) !important;
}
.main-btn {
  background-color: var(--Dark-cyan) !important ;
}
.custom-letter-spacing {
  letter-spacing: 4px; /* Adjust the value as per your need */
}
@media (max-width=700px) {
  .main-btn {
    margin-left: 0rem !important;
  }
}
